env:
  es6: true
  browser: false
  node: true
extends:
  - "eslint:recommended"
  - "standard"
plugin:
  - "react"
ecmaFeatures:
  experimentalObjectRestSpread: true
  jsx: true
globals: {}
parser: "babel-eslint"
